
.atom/
.buildlog/
.dart_tool/
.DS_Store
.env
.env.development
.env.production
.firebase/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
# Miscellaneous
.history
.idea/
.pub-cache/
.pub/
.specstory/.what-is-this.md
.svn/
*.class
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
**/doc/api/
**/ios/Flutter/.last_build_id
/android/app/debug
/android/app/profile
/android/app/release
/build/
# Android Studio will place build artifacts here
# Coverage
# Environment variables
# Firebase
# Flutter/Dart/Pub related
# fvm
# FVM Version Cache
# IntelliJ related
# is commented out by default.
# Miscellaneous
# Obfuscation related
# SpecStory explanation file
# Symbolication related
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# Web related
#.vscode/
app.*.map.json
app.*.symbols
coverage/
firebase-debug.log
lib/generated_plugin_registrant.dart
migrate_working_dir/
